@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

/* ----------------------------------------------------------------- Navigation Bar */

.navbar {
  background: none;
}

/* ----------------------------------------------------------------- General Document */

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    font-family: 'Bungee Inline', cursive;
    overflow: hidden;
    background: radial-gradient(#00aaff,#0f0e45);
}

/* ----------------------------------------------------------------- Left Deck of Cards */

#left-deck {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.left-card {
    position: absolute;
    display: inline-block;
    height: 120px;
    width: 90px;
    border: #000 1px solid;
    cursor: pointer;
    margin: 0px auto;
}

.left-card > .card-front {
    position: absolute;
    background-color: gold;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------------- Right Deck of Cards */

#right-deck {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.right-card {
    position: relative;
    height: 120px;
    width: 90px;
    border: #000 1px solid;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.right-card > .card-front {
    position: absolute;
    background-color: gold;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.card-back {
    position: absolute;
    background-color: #000;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------------- jQuery Flip toggleClass */

.flip {
    transform: rotateY(-180deg);
}